:root{
    --light: #cde6f5;
    --dark:#45503b;
    --darker:#8e9dcc;
    --darkest:#707078;
    --more:#554640;
}
body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-color:var(--light);
}
.navbar{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: 20vw;
    align-items:baseline;
}
.navbar a{
    text-decoration: none;
    color: var(--dark);
    font-size: 2vw;
}
.navbar a:hover{
    color: var(--darkest);
}
.navbar h1{
    color: var(--dark);
}
hr{
    color: var(--darker);
    border: solid 0.2vw;
}
section p {
    margin: 2vw;
}
.footer{
    
}