:root{
    --light: #cde6f5;
    --dark:#45503b;
    --darker:#8e9dcc;
    --darkest:#707078;
    --more:#554640;
}
body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-color:var(--light);
    box-sizing: border-box;
    font-size: 100%;
}
.navbar{
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin:auto;
    align-items:baseline;
    background-color: var(--dark);
    border-radius:0 0 1vw 1vw;
}
.navbar a{
    margin-left:3vw ;
    text-decoration: none;
    color: var(--light);
    font-size: 1.5em;
}
.navbar a:hover{
    color: orangered;
}
.navbar h1{
    color: var(--light);
}
section p {
    max-width: 85vw;
    margin-left: 7vw;
    border: 0.3vw solid black ;
    border-left:0.6vw solid red ;
    font-size: 1.2em;
}
footer{
    background-color:var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1vw;
    margin: 0.5vw;
}